@media (max-width: 991px) {
    .column-margin {
        margin: 3vh 0;
    }

}

#devSection a, #devSection a:visited, #devSection a:hover, #devSection a:active {
    background-color: #ffc107 !important;
    color: #000000;
}

li {
    margin-top: 3vh;
}
